.input-group {

    top:180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width:100%;
    padding: 10px 15px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: none;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:linear-gradient(to right,#ff1010,#f1f1f1); 
    outline: none;
    border: 0;
    border-radius: 30px;
}